# Tested with Python 3.10.12
gdown==5.2.0
gym==0.26.1
numpy==1.24.3
pandas==2.0.3
pytorch-lightning==2.0.9
scikit-learn
segmentation-models-pytorch==0.3.2
torch==2.2.1
torchvision==0.17.1
tqdm==4.66.1
treelib==1.6.1
neptune==1.10.4